body{
    background-image: url(3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin : 0;

}
#clock-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid; */
}

#clock{
    font-family:monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(245, 240, 240);
    backdrop-filter: blur(100px);
    /* background-color: hsla(0,0%,100%,0.1); */
    width: 100%;
}